.sec5{
    /* background-color: blue; */
    padding: 40px 0px;
    text-align: center;


}
.container5
.conttainer5{
    background-color: brown;
    width: 60%;
    margin: auto;
}




.lastbtn{
    background-color: black;
    color: white;
}